<ion-menu contentId="main-content" type="overlay">
  <ion-header>
    <ion-toolbar color="primary">
      <ion-title>Menú</ion-title>
    </ion-toolbar>
  </ion-header>
  <ion-content>
    <ion-list>
      <ion-item routerLink="/movimientos" routerDirection="root">Movimientos</ion-item>
      <ion-item routerLink="/deudas" routerDirection="root">Deudas</ion-item>
      <ion-item routerLink="/reportes" routerDirection="root">Reportes</ion-item>
      <ion-item routerLink="/ahorros-compartidos" routerDirection="root">Ahorros Compartidos</ion-item>
      <ion-item (click)="cerrarSesion()">Cerrar sesión</ion-item>
    </ion-list>
  </ion-content>
</ion-menu>

<ion-header>
  <ion-toolbar>
    <ion-buttons slot="start">
      <ion-menu-button></ion-menu-button>
    </ion-buttons>
    <ion-title>Mis Finanzas💰</ion-title>
    <ion-buttons slot="end">
      <ion-button (click)="cerrarSesion()">
        <ion-icon slot="icon-only" name="log-out-outline"></ion-icon>
      </ion-button>
    </ion-buttons>
  </ion-toolbar>
</ion-header>

<ion-content class="ion-padding" id="main-content">
  <ion-segment [(ngModel)]="tipoSeleccionado" (ionChange)="cambiarTipo(tipoSeleccionado)" class="ion-margin-bottom">
    <ion-segment-button value="ingreso">
      <ion-label>Ingresos📈</ion-label>
    </ion-segment-button>
    <ion-segment-button value="gasto">
      <ion-label>Gastos📉</ion-label>
    </ion-segment-button>
  </ion-segment>

  <div style="display: block; width: 100%; max-width: 400px; margin: auto;">
    <canvas baseChart [data]="chartData" [type]="'doughnut'"></canvas>
  </div>

  <form (submit)="agregarMovimiento()" #form="ngForm">
    <ion-item>
      <ion-label position="floating">Tipo</ion-label>
      <ion-select [(ngModel)]="nuevo.tipo" name="tipo" required>
        <ion-select-option value="ingreso">Ingreso📈</ion-select-option>
        <ion-select-option value="gasto">Gasto📉</ion-select-option>
      </ion-select>
    </ion-item>

    <ion-item>
      <ion-label position="floating">Cantidad</ion-label>
      <ion-input type="number" [(ngModel)]="nuevo.cantidad" name="cantidad" required></ion-input>
    </ion-item>

    <ion-item>
      <ion-label position="floating">Descripción</ion-label>
      <ion-input type="text" [(ngModel)]="nuevo.descripcion" name="descripcion" required></ion-input>
    </ion-item>

    <ion-item lines="none" button (click)="mostrarSelector = true">
      <ion-label>Fecha</ion-label>
      <ion-label class="fecha-texto" style="margin-left:auto; background: var(--ion-color-light); padding: 6px 12px; border-radius: 8px; font-weight: 500;">{{ nuevo.fecha ? (nuevo.fecha | date:'dd/MM/yyyy, h:mm a') : 'dd/mm/aaaa' }}</ion-label>
      <ion-icon name="calendar-outline" slot="end"></ion-icon>
    </ion-item>

    <ion-modal [isOpen]="mostrarSelector" (didDismiss)="mostrarSelector = false" cssClass="custom-date-modal-centered shadow-overlay" backdropDismiss="true">
      <ng-template>
        <ion-content class="ion-padding">
          <div class="modal-wrapper">
            <ion-datetime
              presentation="date-time"
              [(ngModel)]="nuevo.fecha"
              name="fecha"
              [max]="fechaMaxima"
              [value]="nuevo.fecha"
              (ionChange)="onFechaCambio($event)"
              (ionBlur)="alCerrarFecha()"
              showDefaultButtons="true"
              doneText="Aceptar"
              cancelText="Cancelar">
            </ion-datetime>
          </div>
        </ion-content>
      </ng-template>
    </ion-modal>

    <ion-button expand="full" type="submit" class="ion-margin-top" [disabled]="!form.valid">Agregar</ion-button>
  </form>

  <ion-list>
    <ion-item *ngFor="let m of movimientos">
      <ion-label>
        <h2>{{ m.descripcion }}</h2>
        <p>{{ m.tipo | titlecase }} - {{ m.cantidad | currency:'USD' }}</p>
        <p>{{ m.fecha | date:'short' }}</p>
      </ion-label>
      <ion-button fill="clear" color="primary" slot="end" (click)="abrirModalEditar(m)">
        <ion-icon name="pencil-outline"></ion-icon>
      </ion-button>
      <ion-button fill="clear" color="danger" slot="end" (click)="eliminarMovimiento(m.id)">
        <ion-icon name="trash-outline"></ion-icon>
      </ion-button>
    </ion-item>
  </ion-list>

  <ion-modal #modalEditar [isOpen]="mostrarModalEditar" (didDismiss)="cerrarModalEditar()">
    <ng-template>
      <ion-header>
        <ion-toolbar>
          <ion-title>Editar Movimiento</ion-title>
          <ion-buttons slot="end">
            <ion-button (click)="cerrarModalEditar()">Cerrar</ion-button>
          </ion-buttons>
        </ion-toolbar>
      </ion-header>
      <ion-content class="ion-padding">
        <form (submit)="actualizarMovimiento()">
          <ion-item>
            <ion-label position="floating">Tipo</ion-label>
            <ion-select [(ngModel)]="movimientoSeleccionado.tipo" name="tipo" required>
              <ion-select-option value="ingreso">Ingreso</ion-select-option>
              <ion-select-option value="gasto">Gasto</ion-select-option>
            </ion-select>
          </ion-item>
          <ion-item>
            <ion-label position="floating">Cantidad</ion-label>
            <ion-input type="number" [(ngModel)]="movimientoSeleccionado.cantidad" name="cantidad" required></ion-input>
          </ion-item>
          <ion-item>
            <ion-label position="floating">Descripción</ion-label>
            <ion-input type="text" [(ngModel)]="movimientoSeleccionado.descripcion" name="descripcion" required></ion-input>
          </ion-item>
          <ion-item lines="none" button (click)="mostrarSelectorEditar = true">
            <ion-label>Fecha</ion-label>
            <ion-label class="fecha-texto" style="margin-left:auto; background: var(--ion-color-light); padding: 6px 12px; border-radius: 8px; font-weight: 500;">{{ movimientoSeleccionado.fecha ? (movimientoSeleccionado.fecha | date:'dd/MM/yyyy, h:mm a') : 'dd/mm/aaaa' }}</ion-label>
            <ion-icon name="calendar-outline" slot="end"></ion-icon>
          </ion-item>

          <ion-modal [isOpen]="mostrarSelectorEditar" (didDismiss)="mostrarSelectorEditar = false" cssClass="custom-date-modal-centered shadow-overlay" backdropDismiss="true">
            <ng-template>
              <ion-content class="ion-padding">
                <div class="modal-wrapper">
                  <ion-datetime
                    [(ngModel)]="movimientoSeleccionado.fecha"
                    name="fecha"
                    presentation="date-time"
                    [max]="fechaMaxima"
                    [value]="movimientoSeleccionado.fecha"
                    (ionChange)="onFechaCambio($event)"
                    (ionBlur)="alCerrarFecha()"
                    showDefaultButtons="true"
                    doneText="Aceptar"
                    cancelText="Cancelar">
                  </ion-datetime>
                </div>
              </ion-content>
            </ng-template>
          </ion-modal>

          <ion-button expand="block" type="submit" class="ion-margin-top">Guardar Cambios</ion-button>
        </form>
      </ion-content>
    </ng-template>
  </ion-modal>
</ion-content>
