<ion-menu contentId="main-content" type="overlay">
  <ion-header>
    <ion-toolbar color="primary">
      <ion-icon slot="start" name="menu-outline" style="font-size: 24px; padding-left: 8px;"></ion-icon>
      <ion-title>Menú</ion-title>
    </ion-toolbar>
  </ion-header>
  <ion-content>
    <ion-list>
  <ion-item routerLink="/movimientos" routerDirection="root">
    <ion-icon slot="start" name="swap-horizontal-outline"></ion-icon>
    Movimientos
  </ion-item>

  <ion-item routerLink="/deudas" routerDirection="root">
    <ion-icon slot="start" name="card-outline"></ion-icon>
    Deudas
  </ion-item>

  <ion-item routerLink="/reportes" routerDirection="root">
    <ion-icon slot="start" name="bar-chart-outline"></ion-icon>
    Reportes
  </ion-item>

  <ion-item routerLink="/ahorros-compartidos" routerDirection="root">
    <ion-icon slot="start" name="people-outline"></ion-icon>
    Ahorros Compartidos
  </ion-item>

  <ion-item (click)="cerrarSesion()">
    <ion-icon slot="start" name="log-out-outline"></ion-icon>
    Cerrar sesión
  </ion-item>
</ion-list>
  </ion-content>
</ion-menu>
<ion-header>
  <ion-toolbar>
     <ion-buttons slot="start">
      <ion-menu-button></ion-menu-button>
    </ion-buttons>
    <ion-title>Deudas</ion-title>
    <ion-buttons slot="end">
      <ion-button (click)="cerrarSesion()">
        <ion-icon slot="icon-only" name="log-out-outline"></ion-icon>
      </ion-button>
    </ion-buttons>
  </ion-toolbar>
</ion-header>

<ion-content class="ion-padding">

  <form (ngSubmit)="registrarDeuda()">
    <ion-item>
      <ion-label position="stacked">Descripción</ion-label>
      <ion-input [(ngModel)]="nuevaDeuda.descripcion" name="descripcion"></ion-input>
    </ion-item>

    <ion-item>
      <ion-label position="stacked">Monto</ion-label>
      <ion-input type="number" [(ngModel)]="nuevaDeuda.monto" name="monto"></ion-input>
    </ion-item>

    <ion-button expand="block" type="submit" class="ion-margin-top">Registrar Deuda</ion-button>
  </form>

  <ion-list>
    <ion-item *ngFor="let deuda of deudas">
      <ion-label>
        <h2>{{ deuda.descripcion }}</h2>
        <p>Monto: ${{ deuda.monto }}</p>
        <p>Fecha: {{ deuda.fecha | date }}</p>
      </ion-label>
      <ion-button color="danger" fill="clear" (click)="eliminarDeuda(deuda.id)">
        <ion-icon name="trash"></ion-icon>
      </ion-button>
    </ion-item>
  </ion-list>

</ion-content>
